# Mac
.DS_Store

# Project
*/*-*/target

# IDE
*/.idea
*.iml

# Properties
*.properties

# Docker
docker/database/app/data 
docker/web-service/app/logs
docker/web-application/app/logs
docker/batch/app/logs
