.img-sm {
     width: 95px;
 }

.img-md {
    width: 210px;
}

.errorMessage {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.block-padding {
    padding: .5rem 1rem;
}

.block-item {
    display: block;
}

.block-item a:hover {
    text-decoration: none;
}

.text-bold {
    font-weight: bold;
}